<div class="quiz-container">
  <mat-card>
    <mat-card-content>
      <div *ngIf="questions && !showResults">
        <p>{{ currentQuestionIndex + 1 }} of {{ questions.length }}</p>

        <div *ngIf="questions[currentQuestionIndex]">
          <h1>{{ questions[currentQuestionIndex].question }}</h1>
          <form [formGroup]="form">
            <mat-radio-group class="radio-group" formControlName="answer">
              <mat-radio-button
                class="radio-button"
                *ngFor="
                  let answers of questions[currentQuestionIndex]
                    .answers_relation
                "
                [value]="answers.point"
              >
                {{ answers.answer }}
              </mat-radio-button>
            </mat-radio-group>
          </form>
        </div>
      </div>
      <div>
        <button
          mat-raised-button
          color="accent"
          (click)="nextOrViewResults()"
          *ngIf="!showResults"
          [disabled]="!form.value.answer"
        >
          {{
            currentQuestionIndex === questions.length - 1
              ? "show result"
              : "next question"
          }}
        </button>
      </div>

      <div *ngIf="showResults">
        <h1>Result</h1>
        <p>{{ getResultsText() }}</p>
        <button mat-raised-button color="primary" (click)="startAgain()">
          start again
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
